$include /etc/inputrc

set blink-matching-paren on
set colored-completion-prefix on
#set colored-stats on
set colored-completion-prefix on
set completion-map-case on
set completion-prefix-display-length 3
set expand-tilde on
set match-hidden-files off
set menu-complete-display-prefix on
#set show-mode-in-prompt on
set skip-completed-text off
